<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreenTheme"
        tools:targetApi="31">

        <activity
            android:name=".UI.Wallet.ZaloPaymentOrderActivity"
            android:exported="true"
            android:theme="@style/FullScreenTheme"
            android:label="Merchan Demo"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="demozpdk"
                    android:host="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Admin.Home.AdminChangePassActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Admin.ResReports.AdminResponseReportsActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Admin.UserManagement.AdminUserManagActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Admin.Statistical.AdminStatisticalActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Admin.Home.AdminHomeActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Statistical.StatisticalActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Statistical.BUserStatisticalActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.JobHistory.BUserJobHistoryActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.SalaryTracking.SalaryTrackingActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.CheckIn.Check_In_Activity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.JobEmpList.JobEmpListActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.WorkingJob.WorkingJobActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.WorkingJob.NUserWorkingJobActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Report.SupportActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.AppliedJobs.AppliedJobsActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.UserDetailInfo.NUserDetailInfoActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Applicants.ActivityApplicantsList"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.UsersProfile.ProfileForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.JobDetails.SeekerJobDetailActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.JobDetails.RecruiterJobDetailActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.UsersProfile.SettingsActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.UsersProfile.profile_upload_image"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.UsersProfile.AccountActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.PostedJob.PostedJobActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.FindNewJobs.NewJobActivity"
            android:exported="false"
            android:theme="@style/seekbar_filter" />
        <activity
            android:name=".UI.Wallet.WalletHistoryActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.SplashScreen.Splashscreen"
            android:exported="true"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.ForgotPassword.ForgotPassActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Register.SeekerRegisterActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Register.RecruiterRegisterActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Login.LoginActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Wallet.WalletActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.UsersProfile.UserDetailActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.JobsManagement.JobsManagementActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.JobPosts.JobpostsActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Home.HomeActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.SplashScreen.SelectRoleActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.UserDetailInfo.BUserDetailInfoActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.AboutUs.AboutUsActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UI.Admin.UserManagement.AdminUMNUserDetail"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
    </application>

</manifest>